/* 全局样式表 */

html,
body,
#app {
    height: 100%;
    min-width: 1366px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* 上下两栏布局的方式，1.给父容器设置弹性盒子布局，并更改主轴方向为纵向，2.然后固定一个盒子的高度，对另一个盒子使用flex：1 */

.page {
    height: 100% !important;
    display: flex;
    flex-direction: column;
}

.el-card {
    flex: 1;
}

.el-breadcrumb {
    font-size: 18px !important;
    margin-bottom: 30px !important;
}

.listTable {
    height: 100%;
    margin-top: 30px;
}

.btnList {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}